<app-nav></app-nav>

<main>
    <div id="Preguntas" class="container-fluid">
        <a class="btn btn-primary" href="#">Quienes somos</a>
        <a class="btn btn-primary" href="#">Equipo</a>
        <a class="btn btn-primary" href="#">Nuestros clientes</a>
        <a class="btn btn-primary" href="#">Nuestros socios</a>
        <a class="btn btn-primary" href="#">Preguntas frecuentes</a>
        <a class="btn btn-primary" href="#">Politica de privacidad</a>
        <a class="btn btn-primary" href="#">Terminos y condiciones</a>
    </div>
</main>

<app-footer></app-footer>