<footer class=" text-white text-center text-lg-start">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div id="LogoFooter" class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <img width="30" height="30" src="https://img.pikbest.com/origin/09/42/10/825pIkbEsTKq8.jpg!w700wp" alt="Logo JAC">
          <h5>JAC</h5>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 NosotrosyContacto">
          <h5 class="text-uppercase">Nosotros</h5>

          <ul class="list-unstyled mb-0 BarraFooter">
            <li>
              <a href="#!" class="nav-link active">Valores</a>
            </li>
            <li>
              <a href="#!" class="nav-link active">Motivación</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 NosotrosyContacto">
          <h5 class="text-uppercase mb-0">Contacto</h5>

          <ul class="list-unstyled mb-0 BarraFooter">
            <li>
              <a href="#!" class="nav-link active">Whatsapp</a>
            </li>
            <li>
              <a href="#!" class="nav-link active">Instagram</a>
            </li>
            <li>
              <a href="#!" class="nav-link active">Trabaja con nosotros</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3 Copyright">
      © 2023 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">Agustin Alvez, Joaquin Da Roza, Carlos Martinez</a>
    </div>
    <!-- Copyright -->
  </footer>
