<nav class="navbar navbar-expand-lg">
    <header class="container-fluid">
        <div id="BotonRegreso" class="container-fluid">
            <span id="IconoRegreso" class="icon-play3"></span>
            <a class="btn btn-primary" href="/">Volver</a>
        </div>
        <div id="Logo" class="container-fluid">
            <img width="30" height="30" src="https://img.pikbest.com/origin/09/42/10/825pIkbEsTKq8.jpg!w700wp" alt="Logo de JAC">
            <a class="navbar-brand" href="#">JAC</a>
        </div>
    </header>
</nav>
